body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    background-color: black;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

main {
    display: flex;
    padding: 15px;
}

main div:first-child {
    width: calc(100vw / 3);
}

main div:last-child {
    width: calc(100vw / 3 * 2);
}