<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap"rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <button class="main-button">Dodaj ogłoszenie</button>
        <nav>
            <a class="main-button">Strona główna</a>
            <a >O nas</a>
            <a >Kontakt</a>
            <div class="avatar">
        
            </div>
        </nav>
    </header>
    <main>
        <section class="welcome">
            <div>
                <span>
                    Zwierzak Szuka Domu
                </span>
                <div>
                    <div class="highlight">
                        Cieszymy się, że tu jesteś
                    </div>
                    <span>
                        Serwis poświęcony ogłoszeniom z adopcją zwierząt. Znajdziesz tutaj serię ogłoszeń od zwierząt, które szukają nowych, kochających domów. Każde zwierzę ma swoją własną historię i potrzebuje czułej opieki, dlatego jesteśmy pewni, że znajdziesz tutaj przyjaciela na całe życie.
                    </span>
                </div>
            </div>
            <div class="image">

            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>