<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <span class="logo">ZwierzakSzukaDomu</span>
        <nav>
            <div class="submenu">
                <a>O nas</a>
                <a>Kontakt</a>
            </div>
            <div class="menu-dropdown">
                <input class="menu-button" type="checkbox" id="menu-button" />
                <label class="menu-icon" for="menu-button"><span class="navicon"></span></label>
                <a>Strona główna</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="welcome-image"></section>
        <!-- <section class="login-element">
            <div>
                <span>Witaj ponownie</span>
                <span>Zaloguj się lub utwórz konto za darmo</span>
                <hr>
                <form>
                    <div>
                        <label for="login-email">Wprowadź adres e-mail</label>
                        <input type="text" class="main-input" id="login-email">
                    </div>
                    <div>
                        <label for="login-email">Wprowadź hasło</label>
                        <input type="password" class="main-input" id="login-password">
                        <span class="forgot-password">Zapomniałem/am hasła</span>
                    </div>
                    <input type="submit" value="Zaloguj" class="main-button">
                </form>
                <span class="register">Zarejestruj się</span>
            </div>
        </section> -->
        <section class="login-element register-element">
            <div>
                <span>Rejestracja</span>
                <span>Utwórz konto za darmo</span>
                <hr>
                <form>
                    <div>
                        <label for="login-name">Imię i nazwisko</label>
                        <input type="text" class="main-input" id="login-name">
                    </div>
                    <div>
                        <label for="login-email">Wprowadź adres e-mail</label>
                        <input type="text" class="main-input" id="login-email">
                    </div>
                    <div>
                        <label for="login-reemail">Wprowadź hasło</label>
                        <input type="password" class="main-input" id="login-reemail">
                    </div>
                    <div>
                        <label for="login-email">Powtórz hasło</label>
                        <input type="password" class="main-input" id="login-password">
                    </div>
                    <input type="submit" value="Zarejestruj się" class="main-button">
                </form>
                <span class="incentive">Posiadasz konto? Zaloguj się</span>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>