body {
    background-color: #fafbff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--neutral-10, #486284);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 72px;
    padding: 8px 100px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-2, #DEE5ED);
    background: var(--neutral-0, #FFF);
}

header>nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

header>nav a {
    font-size: 14px;
}

span {
    color: var(--neutral-10, #486284);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.main-button {
    display: flex;
    width: 220px;
    padding: 11px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background: linear-gradient(180deg, #5033A4 0%, rgba(51, 16, 152, 0.65) 96.87%, rgba(80, 51, 164, 0.00) 100%);
}

.avatar {
    width: 58px;
    height: 58px;
    border-radius: 58px;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230612/pngtree-man-wearing-glasses-is-wearing-colorful-background-image_2905240.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-5 {
    gap: 5px;
}